<?php

/*
	VeximAccountAdmin options
*/

$veximaccountadmin_config = array();

// PEAR database DSN for performing the query
// change this to your vexim database info, e.g.
//    mysql://vexim:password@localhost/vexim
$veximaccountadmin_config['db_dsn'] = 'mysql://USERNAME:PASSWORD@SERVER/DATABASE';

// Use the same $cryptscheme as in vexim config/variables.php (possible values are:
// 'des', 'md5', 'sha', 'sha512', 'bcrypt')
$veximaccountadmin_config['vexim_cryptscheme'] = 'sha512';

// Show a link to Vexim if the user is registered as domain admin
$veximaccountadmin_config['show_admin_link'] = true;
// Vexim link URL, relative to Roundcube or external
$veximaccountadmin_config['vexim_url'] = '../vexim/';

// Set to true, if testing standalone with a fresh initialized vexim database
$veximaccountadmin_config['testing'] = false;
